<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanghongtao.springboot.mapper.UserMapper">

    <select id="getUsers" resultType="com.yanghongtao.springboot.entities.User">
      select * from user where 1=1
      <if test="realName != null and realName != ''">
          and real_name like '%${realName}%'
      </if>
    </select>

    <select id="getUserById" resultType="com.yanghongtao.springboot.entities.User">
      select * from user where id=#{id}
    </select>

    <update id="updateUser">
        UPDATE `bill`.`user`
        SET  `password`=#{password},`real_name`=#{realName},
         `gender`=#{gender}, `birthday`=#{birthday}, `user_type`=#{userType}
         WHERE (`id`=#{id});
    </update>

    <insert id="addUser">
        INSERT INTO `bill`.`user`
        ( `username`, `real_name`, `password`, `gender`, `birthday`, `user_type`) VALUES
        ( #{username}, #{realName}, #{password}, #{gender}, #{birthday}, #{userType});
    </insert>

    <delete id="deleteUserById">
        delete from user where id=#{id}
    </delete>

    <select id="getUserByUsername" resultType="com.yanghongtao.springboot.entities.User">
        select * from user where upper(username)=upper(#{username})
    </select>

</mapper>